/*
  Team AAR: Aahan Mehta, Angier Lee, Roy Nisson
IntroCS pd7 sec11
HW05 -- Stuylin'
2020-02-10
					*/
h1 {
    color: red;margin-left: 400;
}


h2 {
    color: blue;margin-bottom:-20
}

body {
    background-color: sandybrown
}

p {
	font-size: 18;font-family: serif;font-variant: small-caps;opacity:0.8
}
